// _base.scss
// Contains declarations for template/layout/style-specific elements

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

*, html, body {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  //background: rgba(0, 0, 0, 0.88);
  background: url(../images/crt_amber_bg.jpg) no-repeat center fixed #333;
  color: $color-amber;
  text-shadow: 0px 1px 4px $color-amber-text-glow;
  font-family: VT220, mono, Monospace;
  font-size: 20px;
  margin: 0;
}

h1, h2 {
  font-family: arcade, mono, monospace;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2.9rem;
  letter-spacing: 2px;
}

h2 {
  font-family: deadcrt, mono, monospace;
  font-size: 1.7rem;
  letter-spacing: 0;
}

h3, h4, h5, h6 {
  font-family: VT220, mono, monospace;
  font-size: 2.2rem;
  font-weight: normal;
  text-transform: uppercase;
}

pre {
  font-family: VT220, mono, Monospace;
  color: $color-amber;
  background: none;
  border: 0;
  border-radius: 0;
  font-size: 1.45rem;
  line-height: 1.3rem;
  overflow: visible;

  &:hover {
    color: $color-amber-hover;
  }
}


pre.binary {
  display: none;
  text-align: right;
  overflow: hidden;
  height: 32px;
}

pre.title {
  margin: 0;
  font-size: 12px;
  line-height: 0.8;
  cursor: no-drop;
}

hr {
  border: 1px dashed $color-amber-hover;
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

a, p, i, pre, nav, input {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

i {
  text-shadow: 0 0 0;
}

a {
  position: relative;
  color: $color-amber;
  text-decoration: none;
}

a:hover {
  color: $color-amber-hover;
}

a:focus, a:active {
  color: $color-amber;
}

a:focus {
  outline-offset: 0;
}

p, li, span {
  font-family: VT220, mono, Monospace;
  font-size: 20px;
}

p i {
  font-weight: normal !important;
  font-size: 1.1rem;
}

ul {
  @include stripmp;
}

input, button, select, textarea {
}

input:not(input.btn), select, textarea {
  border-color: $color-amber !important;
  background: rgba(255, 255, 255, 0.15) !important;
  color: #222 !important;
}

input:not(input.btn):focus, select:focus, textarea:focus {
  border-color: $color-white !important;
  background: rgba(0, 0, 0, 0.7) !important;
  color: $color-amber-hover !important;
}

input[type=text] {
  background: rgba(0, 0, 0, 0.4);
  border: 1px dashed $color-amber-hover;
  border-width: 1px 0;
  width: 100%;
  padding: 10px;
  margin: 1rem 0 0;
  color: $color-amber-hover;
}

input[type=text]:focus {
  background: rgba(0, 0, 0, 0.88);
  border-bottom-style: solid;
  color: $color-amber;
}

::-moz-placeholder, ::-webkit-input-placeholder {
  color: $color-amber;
}

::-moz-selection { /* Code for Firefox */
  color: $color-black;
  background: $color-amber-hover;
}

::selection {
  color: $color-black;
  background: $color-amber-hover;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: $color-grey-lighter;
}

.wrapper {
  padding: 20px;
}

.terminal-content {
  width: auto;
}

ul.shortcuts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 100%;
    margin: 2rem 0;
    white-space: pre-wrap;
    word-break: break-all;
  }

  span {
    display: inline-block;
    margin-left: 90px;
  }

  span.tags {
    span {
      background: rgba(0,0,0,0.45);
      border: 1px dashed rgba(0,0,0,0);
      padding: 2px 7px;
      margin: 2px 5px 0 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  span.link-url {
    color: $color-amber-dark;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  a:hover span.link-url {
    color: $color-amber;
  }

  .retro {
    -webkit-filter: sepia(1) saturate(20) hue-rotate(349deg);
    height: 80px;
    width: 80px;
    -webkit-transition: all 0.42s;
    -moz-transition: all 0.42s;
    transition: all 0.42s;
    position: absolute;
  }

  .retro.invert {
    -webkit-filter: invert(1) sepia(1) saturate(20) hue-rotate(339deg);
  }

  a:hover .retro {
    -webkit-filter: none;
  }

  a:hover .retro.invert {
    -webkit-filter: invert(1);
  }

}

.random {
  white-space: pre-wrap;
  word-wrap: break-word;
  cursor: not-allowed;
  line-height: 1;
}

blockquote {
  border-left: 2px dashed $color-amber;
  font-size: 1.1rem;
}

@media (min-width: $bp-tablet) {

  body {
    background-size: cover;
  }

  .wrapper {
    padding: 32px 64px;
  }

  pre.title {
    margin-bottom: -10px;
    font-size: 20px;
    line-height: 1;
  }

  ul.shortcuts {
    padding-bottom: 2rem;

    li {
      margin: 2rem 6% 0 0;
      flex-basis: 44%;
      max-width: 44%;
    }
  }

  a.bookmark span.link-name {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
  }

  a.bookmark span.link-name, a.bookmark span.link-url {
    padding-left: 6px;
  }

  a:not(.bookmark)::before, a.bookmark span.link-name::before {
    content: "";
    position: absolute;
    right: 0px;
    height: 1px;
    left: 0px;
    bottom: -1px;
    background: $color-amber-hover;
    opacity: 0.4;
    transform: scaleX(0.85) translateY(0.15rem);
    transition: all 0.2s ease 0s;
  }

  a:focus::before, a:hover::before, a.bookmark:hover span.link-name::before {
    opacity: 0.75;
    transform: scaleX(1);
  }

  a:focus::before {
    background: $color-amber-hover;
  }

  a.btn::before, a.label::before, .pagination > li > a::before, #order-standard_cart .view-cart-tabs .nav-tabs > li > a::before {
    display: none;
  }

  .crt-frame-amber {
    display: block;
  }

}

@media (min-width: $bp-tablet-l) {

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  pre.binary {
    display: block;
  }

}

@media (min-width: $bp-desktop) {

  ul.shortcuts {
    li {
      margin: 2rem 3% 0 0;
      flex-basis: 30%;
      max-width: 30%;
    }
  }

}

@media (min-width: $bp-desktop-l) {

  .wrapper {
    padding: 32px 90px;
  }

}

@media (min-width: $bp-desktop-uw) {

  .wrapper {
    padding: 32px 110px;
  }

  ul.shortcuts {
    li {
      margin: 2rem 3% 0 0;
      flex-basis: 22%;
      max-width: 22%;
    }
  }

}
