// _colors.scss
// Contains declarations for commonly-used colours, fonts, etc.

$color-white: #fff;
$color-white-dark: #e3e3e3;
$color-grey: #777;
$color-grey-light: #aaa;
$color-grey-lighter: #ccc;
$color-grey-dark: #444;
$color-grey-darker: #222;
$color-black: #000;

$color-red: #FF0000;
$color-green: #00FF00;
$color-amber: #FFAF65;
$color-amber-hover: #FF8700;
$color-text-glow: rgba(255, 175, 101, 0.45);
