
$screen-background:#121010;

@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

.container{
  position:relative;
  overflow:hidden;
/*
  // flicker
  &::after{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:transparentize($screen-background,0.9);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  // scanlines
  &::after{
    content:" ";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 30%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:3;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
  }
*/
}

@keyframes turn-on{
  0%{
    transform-origin: left -15%;
    transform:scale(1,0.8) translate3d(0,0,0);
    opacity:1;
  }
  3.5%{
    transform:scale(1,0.8) translate3d(0,0,0);
  }

  3.6%{
    transform:scale(1,0.8) translate3d(0,0,0);
    opacity:1;
  }

  9%{
    transform:scale(1.3,0.9) translate3d(0,0,0);
    opacity:0;
  }

  11%{
//    transform:scale(1,1) translate3d(0,-0.5%,0);
    transform:scale(1,1.1) translate3d(0,-1%,0);
    opacity:1;
  }

  66%{
    transform:scale(1,0.9) translate3d(0,-2%,0);
  }

  100%{
    animation-timing-function: $ease-out-quint;
    transform:scale(1,1) translate3d(0,0,0);
  }
}
@keyframes turn-off{
  0%{
    transform-origin: right 25%;
    transform:scale(1,1.3) translate3d(0,0,0);
    opacity:1;
  }
  60%{
    transform-origin: center 50%;
    transform:scale(1.3,0.501) translate3d(0,0,0);
  }
  100%{
    animation-timing-function: $ease-in-quint;
    transform-origin: left 25%;
    transform:scale(0,0) translate3d(0,0,0);
    opacity:0;
  }
}

.terminal-content{
  width:100%;
  height:100%;
  border:none;
}

@keyframes overlay-anim{
  0%{
    visibility:hidden;
  }
  20%{
    visibility:hidden;
  }
  21%{
    visibility:visible;
  }
  99%{
    visibility:hidden;
  }
}

.overlay{
  color:#00FF00;
  position:fixed;
  top:60px;
  left:80px;
  font-size:60px;
  //text-shadow:2px 2px black,-2px -2px black, -2px 2px black, 2px -2px black;
  visibility:hidden;
  pointer-events:none;
}

@keyframes fade_from_black{
  0%{
    background: rgba(0,0,0,1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100%{
    background: rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 100px 50px rgba(255, 135, 0, 0.2);
    -moz-box-shadow: inset 0 0 100px 50px rgba(255, 135, 0, 0.2);
    box-shadow: inset 0 0 100px 50px rgba(255, 135, 0, 0.2);
  }
}
