// _filters.scss
// Contains styling for the tag filters

.tag-list {
	line-height: 28px;

	span {
		background: rgba(0,0,0,0.45);
		padding: 0 7px;
		margin: 0 5px 5px;
		cursor: pointer;
		display: inline-block;
	}
	
	.tagsort-active {
		background: $color-amber;
		color: $color-black;
	}
}