// _header.scss
// Contains declarations for the title, search, and clock widgets

header {
  margin: 20px 0;

  > div {
    .search-and-clock {
      display: flex;
      flex-direction: row;

      form {
        width: 100%;
        margin-top: 0;
      }

      #clock {
        text-align: right;
        width: 35%
      }
    }
  }
}

@media (min-width: $bp-tablet) and (max-width: 1060px) {
  header {
    > div {
      .search-and-clock {
        form {
          width: 65%;
        }
      }
    }
  }
}
@media (min-width: 1500px) {
  header {
    position: relative;
    display: flex;
    flex: 0 1 auto;
    margin: 20px 0 40px;

    pre {
      float: left;
    }

    > div {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      max-width: 50%;
      margin-left: 45px;

      * {
        align: start;
      }

      .search-and-clock {
        flex-direction: row-reverse;

        form {
          width: 65%;
        }

        #clock {
          text-align: left;
        }
      }
    }
  }
}
