// _header.scss
// Contains declarations for the title, search, and weather widgets

@media (min-width: 1500px) {
  header {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      flex-grow: 1;
      flex-basis: 50%;
      max-width: 50%;

      input[type=text] {
        width: 93%;
        margin-top: 35px;
      }
    }
  }
}
