// _modals.scss
// Contains declarations for any modals used across the app

body .modal-hider {
  position: absolute;
  left: -99999em;
}

.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 75%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: $color-white;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  @include border-radius(4px);
}

.modal-content {
  position: relative;
  padding: 20px;
  width: 100%;
  overflow: auto;

  > div:not(.modal-table-wrap, .onoffswitch) {
    width: 320px;
  }

  h2, h3 {
    color: $color-amber;
    text-align: center;
  }

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 32px;
    font-weight: 100;
  }
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 7px;
  top: 7px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: 0;
  color: $color-red;
}
