// _switches.scss
// Contains styling for the various toggle switches

$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);

#switch, #flicker, #greenTheme{
  display:none;
}

#switch:checked+.switch-label{
  &::before{
    background:#22ff55;
  }
  &::after{
    content:"off";
  }
}

#switch~.container>.terminal-content{
  animation: turn-off 1.25s $ease-out-quint;
  animation-fill-mode:forwards;
}

#switch:checked {
  &~.container {
    &>.terminal-content{
      animation: turn-on 1.5s linear;
      animation-fill-mode:forwards;
    }

    .overlay{
      animation:overlay-anim 5s linear;
      animation-fill-mode:forwards;
    }
  }

  &~.wrapper {
    max-height: 100vh;
    overflow-y: auto;
  }

  &~.crt .crt-glow {
    display: block;

    &.screen-on {
      animation: fade_from_black 1s linear;
      animation-fill-mode: forwards;
    }
  }

  &~.crt-effects {
    display: block;
  }
}

.switch-mount {
  position: fixed;
  z-index: 11111;
  top: -48px;
  right: 4%;
  border-radius: 0 0 18px 8px;
  transform: rotate(3deg);
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
  linear-gradient(180deg, hsl(0, 0%, 45%) 0%,
                  hsl(0, 0%, 48%) 47%,
                  hsl(0, 0%, 47%) 53%,
                  hsl(0, 0%, 42%) 100%);
  box-shadow: 2px 10px 20px rgba(0,0,0,0.8), inset 0 0 7px 5px rgba(0, 0, 0, 0.1);
}

.switch-dirt {
  background: url(../images/metal-mask.png) no-repeat bottom right;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.power-label {
  position: absolute;
  width: 32px;
  height: 26px;
  background: url(../images/power-mark.png) no-repeat;
  background-size: contain;
  bottom: 45px;
  right: 8px;
  cursor: pointer;
}

.btn-scanlines {
  background: url(../images/power-mark-scanlines.png) no-repeat;
  background-size: contain;
}

.theme-button {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 3px solid #000;
  background: var(--primary-color-dark);
  box-shadow: 0 0 10px var(--primary-button-glow-color);
  bottom: 13px;
  right: 13px;
  cursor: pointer;
}

.switch-wires {
  position: fixed;
  z-index: 10000;
  top: -50px;
  right: 0;
  width: 160px;
  height: 160px;
  background: url(../images/wire.png) no-repeat bottom left;
  background-size: contain;
}

.surround {
  background: #111 linear-gradient(#111, #0c0c0c);
  border-radius: 8px;
  border: 2px solid #090909;
  border-top: 2px solid #2b2b2b;
  cursor: pointer;
  transform: scale(0.45) rotate(81deg);
  width: 108px;
  height: 190px;
  margin: 0px 34px -54px 12px;
}
.surround:not(:last-child) {
  margin-right: 20px;
}
.surround:before {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 0 7px;
  position: absolute;
  top: -2px;
  content: "";
  display: block;
  width: 94px;
}
.surround:after {
  background: #000;
  border-radius: 6px;
  border: 1px solid #161616;
  border-top: none;
  border-bottom: 2px solid #2f2f2f;
  box-shadow: inset 0 0 8px #0c0c0c;
  height: 172px;
  width: 88px;
  position: absolute;
  top: 8px;
  left: 9px;
  content: "";
  display: block;
  z-index: 2;
}

.button {
  background: #090302;
  border: 1px solid black;
  border-bottom: 6px solid black;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(216, 85, 50, 0.1);
  overflow: visible;
  perspective: 500px;
  height: 148px;
  width: 72px;
  position: relative;
  top: 20px;
  margin: 0 auto;
  z-index: 10;
}
.button:before {
  border: 1px solid #160804;
  border-top: 3px solid #160804;
  border-bottom: 2px solid #97361d;
  border-radius: 2px;
  background: linear-gradient(#160804, #561f10 60%, #6c2715);
  transform: rotateX(-30deg);
  filter: blur(1px);
  height: 30px;
  width: 70px;
  position: absolute;
  top: -6px;
  left: 0px;
  content: "";
  z-index: 20;
}

.button-face {
  perspective: 700px;
  text-align: center;
  padding-top: 53px;
  opacity: 0.8;
  z-index: 30;
  position: absolute;
  top: 25px;
  left: -10px;
}
.button-face:before {
  background: linear-gradient(rgba(216, 50, 50, 0.37) 30%, rgba(135, 0, 0, 0.53));
  border-radius: 2px;
  height: 152px;
  width: 76px;
  position: absolute;
  left: 23px;
  top: -8px;
  content: "";
  z-index: 1;
}
.button-face .shadow {
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.8) 85%);
  opacity: 0.8;
  position: absolute;
  top: 14px;
  left: 23px;
  height: 140px;
  width: 80px;
  z-index: 100;
}

.surround.on {
  background: radial-gradient(ellipse 85px 125px, rgba(255, 113, 33, 0.5), #111);
}
.surround.on:after {
  height: 170px;
  background: #0F0F0F;
  border: 1px solid #230d07;
  border-top: none;
  border-bottom: 2px solid #34130a;
  border-top: 2px solid #34130a;
}
.surround.on .button {
  background: linear-gradient(#000, #d52f02, rgba(255, 255, 255, 0.2), #3D0E08 4%, #3D0E08 20%, #a22402);
  border-radius: 8px;
  border-top: none;
  bottom: 5px;
}
.surround.on .button:before {
  background: radial-gradient(ellipse 40px 18px at center -2px, rgba(253, 64, 13, 0.9), rgba(0, 0, 0, 0.6));
  border-radius: 1px;
  border: 2px solid #611501;
  border-top: none;
  width: 68px;
  left: 0;
  transform: rotateX(0deg);
  height: 29px;
  top: 118px;
  filter: blur(2px);
}
.surround.on .button-face {
  background: radial-gradient(circle 90px, rgba(250, 212, 53, 0.7) 15%, rgba(253, 104, 64, 0.55), rgba(216, 85, 50, 0.2) 50%, rgba(0, 0, 0, 0.5));
  border-top: 1px solid rgba(253, 64, 13, 0.4);
  transform: rotate(0deg);
  color: transparent;
  text-shadow: none;
  width: 66px;
  height: 138px;
  padding: 0;
  left: 21px;
  top: 24px;
}
.surround.on .button-face:before {
  background: linear-gradient(rgba(0, 0, 0, 0.4) 40%, rgba(253, 64, 13, 0.5) 75%, rgba(255, 255, 255, 0.3));
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(253, 64, 13, 0.2);
  border-right: 1px solid rgba(253, 64, 13, 0.2);
  top: 0;
  left: -2px;
  width: 69px;
  height: 107px;
  border-radius: 0;
  transform: none;
}
.surround.on .button-face:after {
  display: none;
}
.surround.on .shadow {
  display: none;
}

