// _weather.scss
// Contains styling for the simpleWeather plugin

#weather {
  p {
    margin: 20px 0 0;
  }

  .weather-details {
    clear: both;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    i {
      float: left;
      margin-right: 10px;
      font-size: 64px;
    }

    ul {
      margin: 0;
      flex-grow: 1;

      li {
        clear: both;
        line-height: 1.2;
      }
    }
  }

  ul.weather-current {
    flex-basis: 45%;
    max-width: 45%;
    border-right: 1px dashed $color-amber;

    li:first-child {
      font-size: 40px;

      i {
        font-size: 160px;
        margin-bottom: 20px;
      }
    }
  }

  ul.weather-forecast {
    flex-basis: 55%;
    max-width: 55%;

    li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dashed $color-amber;
      position: relative;

      &:first-child i {
        top: 10px;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }

      i {
        position: absolute;
        left: 15px;
        top: 0;
      }

      span {
        display: block;
        margin-left: 80px;
      }
    }
  }
}

@media (min-width: $bp-tablet) {
  #weather {
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 100%;

    ul.weather-current {
      flex-basis: 240px;
      max-width: 240px;

      li:first-child {
        i {
          font-size: 80px;
          margin-bottom: 20px;
        }
      }
    }

    ul.weather-forecast {
      flex-basis: auto;
      max-width: none;

      li {
        display: inline-block;
        width: 32%;
        border-right: 1px dashed $color-amber;

        &:last-child {
          padding-bottom: 10px;
          border-bottom: 1px dashed $color-amber;
        }
      }
    }
  }
}

@media (min-width: $bp-desktop) {
  #weather {
    flex-basis: 50%;
    max-width: 50%;

    ul.weather-current {
      flex-basis: 37%;
      max-width: 37%;

      li:first-child {
        font-size: 40px;

        i {
          font-size: 160px;
          margin-bottom: 20px;
        }
      }
    }

    ul.weather-forecast {
      flex-basis: 63%;
      max-width: 63%;

      li {
        display: block;
        width: auto;
        border-right: 0;

        &:last-child {
          padding-bottom: 10px;
          border-bottom: 1px dashed $color-amber;
        }

        &:first-child {
          padding-right: 38%;
        }
      }
    }
  }
}