// CRT Terminal Startpage CSS Styles
//   by scar45 @ https://scar45.me
//
// 'startpage.scss' is the 'root' SASS file which pulls in all other imports

@import "vars";
@import "fonts";
@import "animations";
@import "mixins";
@import "base";
@import "header";
@import "filters";
@import "modals";
@import "weather";
@import "switches";
@import "crt";
@import "scanlines";
@import "green_mod";